body {
  max-width: 1000px;
  /* border: 5px solid green; */
  margin: 0 auto;
  height: 1000px;
}

.new-paste-form {
  /* border: 5px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
  height: 500px;
}

input {
  width: 400px;
}

textarea {
  width: 400px;
}

.text-area {
  height: 300px;
}

.submit-button {
  width: 400px;
}

.ten-pastes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 35%;
  /* border: 3px red solid */
}

.recent-paste {
  border: 2px black solid;
  height: 200px;
  width: 50%;
  padding: 10px; box-sizing: border-box;
  line-height: 0.9;
  text-align: left;
}

.summary-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  cursor: pointer;
}

.whole-page {
  /* border: 3px orange solid; */
  margin-top: 100px;
  width: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 1px;
}
